@font-face {
  src: url(typeface/Digital7Mono-B1g5.ttf);
  font-family: Digital7;
}

* {
  margin: 0;
}

:root {
  box-sizing: border-box;
  font-family: Digital7;
  height: 100%;
  --display-height: 100px;
}

body {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#calculator {
  display: grid;
  grid-template: var(--display-height) repeat(5, 1fr) / repeat(4, 1fr);
  grid-template-areas: "display display display display" "reset reset delete divide" "seven eight nine multiply" "four five six minus" "one two three plus" "negatve zero comma equals";
  width: 60%;
  height: 80%;
}

#display {
  grid-area: display;
  height: var(--display-height);
  line-height: var(--display-height);
  border: 1.5px solid rgb(92, 92, 95);
  text-align: right;
  font-size: 30pt;
  /* padding: 10px 30px; */
}

.button {
  font-size: 26px;
}