@font-face {
  src: url(typeface/Digital7Mono-B1g5.ttf);
  font-family: Digital7;
}

* {
  margin: 0;
}

:root {
  box-sizing: border-box;
  font-family: Digital7;
  height: 100%;
  --display-height: 1fr;
}

body {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#calculator {
  display: grid;
  grid-template: var(--display-height) repeat(5, 1fr) / repeat(4, 1fr);
  grid-template-areas: "display display display display" "clear clear delete divide" "seven eight nine multiply" "four five six minus" "one two three plus" "negatve zero comma equals";
  width: 30%;
  height: 60%;
}

#display {
  grid-area: display;
  border: 1.5px solid rgb(92, 92, 95);
  text-align: right;
  font-size: 48px;
}

#clear {
  grid-area: clear;
}

.button {
  font-size: 20px;
}